// @mixin scroll-x {
//   overflow-x: auto;
//   overflow-y: hidden;
//   white-space: nowrap;
//   -webkit-overflow-scrolling: touch; //모바일 터치스크롤 가속도
//   -ms-overflow-style: none; // ie 스크롤바 감춤
//   scrollbar-width: none; //파이어폭스 스크롤바 감춤

//   &::-webkit-scrollbar {
//     display: none; //크롬 스크롤바 감춤
//   }
// }


// 말줄임표시 
@mixin ellipse {
  text-overflow: ellipsis;
  white-space: nowrap; //굽히지 않고 오른쪽으로쭉 이어지되
  overflow: hidden;  //넘치면 감춘다
}