@charset "UTF-8";
/* @use : 다른 scss파일을 끌어다 쓸때 사용 
비슷하게 @import: css파일 가져올때 사용.
_파일이름.scss : 파일 이름 앞에 " - " (언더바) 다른 scss파일에 임포트 될때 사용된다.
*/
div {
  width: 100px;
  height: 100px;
  border: 1px solid red;
}

.box {
  color: red;
}