.screen-out {
    position: absolute;
    width: 0;
    height: 0;
    line-height: 0;
    overflow: hidden;
    text-indent: -9999px;
}
.scroll-x {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;  //모바일 터치스크롤 가속도
  -ms-overflow-style: none;  // ie 스크롤바 감춤
  scrollbar-width: none;    //파이어폭스 스크롤바 감춤

  &::-webkit-scrollbar {  //크롬 스크롤바 감춤
    display: none;
  }
}