.screen-out {
    position: absolute;
    width: 0;
    height: 0;
    line-height: 0;
    overflow: hidden;
    text-indent: -9999px;
}
.scroll-x {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;  //모바일 터치스크롤 가속도
  -ms-overflow-style: none;  // ie 스크롤바 감춤
  scrollbar-width: none;    //파이어폭스 스크롤바 감춤

  &::-webkit-scrollbar {  //크롬 스크롤바 감춤
    display: none;
  }
}

body.scroll-off {     // 팝업이 떠있을때는 뒷배경(body)의 
  overflow-y: hidden;   //스크롤이 움직이지 않도록 함
  -ms-touch-action: none;  //.menu-option-popup 옵션선택영역
  touch-action: none;
}

// functional css
.fw700 {
  font-weight: 700;
} 

.color-point {
  color: $point-color;
}
