.container {
  width: 400px;
  height: 600px;
  border: 1px solid black;
  color: white;
  font-weight: bold;
}

p {
  margin: 0px;
}

.top {
  background: red;
  width: 400px;
  height: 200px;
}

.left {
  background: blue;
  width: 200px;
  height: 200px;
  float: left;
}

.right {
  background: green;
  width: 200px;
  height: 200px;
  float: right;
}

.bottom {
  clear: both;
  background: purple;
  width: 400px;
  height: 200px;
}

