div {
    width: 100px;
    height: 100px;
    border: 10px solid rgb(134, 135, 134);
    border-radius: 50%;

    /* background-color: rgb(204, 253, 225);
    animation: my-first-animation 2s infinite; */

}

/* .box:hover {
    animation: my-first-animation 2s infinite;
} */

.box1 {
    background-color: antiquewhite;
    animation: my-first-animation 1s infinite;
    animation-delay: 0;
}

.box2 {
    background-color: rgb(180, 246, 242);
    animation: my-first-animation 1s infinite;
    animation-delay: 0.3s;
}

@keyframes my-first-animation {
    0% {
        font-size: 20;
    }

    50% {
        width: 300px;
        font-size: 60px;
    }

    100% {
        font-size: 20px;
    }
}


/* iteration 반복 */
.box3 {
    margin: 50px;
    background-color: rgb(185, 208, 251);
    /* animation: my-first-animation 1s infinite;
    animation-delay: 0.8s; */

    animation-name: rotate;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-play-state: paused;
}
.box3:hover {
    animation-play-state: running;
}
@keyframes rotate {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}



/* fill-mode*/
.box4 {
    color: rgb(255, 255, 255);
    padding: 20px;
    font-size: 15px;
    background-color: rgb(243, 201, 62);
    animation: fill-mode 3s linear 1s;
    animation-fill-mode: backwards;
    /* forwards, backwards, both*/
}

@keyframes fill-mode {
    0% {
        background-color: red;
    }

    50% {
        width: 200px;
    }

    100% {
        background-color: black;
    }
}