/*
Transform

transition-property, transition-duration
*/

.box {
    width: 300px;
    height: 80px;
    border: 2px dashed teal;
    background-color: darkslategray;
    font-size: 50px;
    color: white;

    transition-property: all;
    transition-duration: 0.8s;
}


.box:hover {
    background-color: indianred;
}

