@charset "UTF-8";
/* extend: css 스타일 확장 
% : scss에서만 쓰이는 임시 클래스
*/
.btn-2, .btn-1 {
  padding: 10px 20px;
  cursor: pointer;
  background-color: inherit;
  border: 1px solid lightgray;
  border-radius: 14px;
}

.btn-1 {
  border: 1px solid red;
  color: red;
  font-weight: 17;
}

.btn-2 {
  border: 1px solid blue;
  color: blue;
  font-weight: 17;
}