.menu-list-area {
  padding: 28px $m-padding 10px;
  background-color: #fff;

  //new, popular 클래스 아니면 마진탑 10px 
  &:not(.new):not(.popular) {
    margin-top: 10px;
  }

  &.new {
    border-bottom: 1px solid $booking-color-border144;
  }

  &.is-closed {
    padding: 24px $m-padding;

    & + .is-closed {
      margin-top: 0;
      border-top: 1px solid $booking-color-border144;
    }

    .ico-arrow { 
      transform: rotate(180deg);
    }

    .menu-list { 
      display: none;  //닫으면 안보임
    }
  }

  .menu-category {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .title-area {
    display: flex;
    align-items: center;
  }

  .title {
    font-size: 19px;
    font-weight: 700;
    color: $booking-color-text100;
    letter-spacing: -0.3px;
  }

  .btn-toggle {
    //이미지와 이미지를 감싼태그가 미묘하게 어긋날때 display:flex; 주면 딱 맞는다.
    display: flex;
    // 내가준 패딩값 때문에 밀릴때 패딩값 만큼 마이너스 마진값을 주면 된다.
    margin: -16px;
    padding: 16px;
  }

  .period {
    font-size: 14px;
    letter-spacing: -0.3px;
    color: $booking-color-text4;
    &::before {
      content: '';
      display: inline-block;
      margin: 0 10PX;
      width: 4px;
      height: 4px;
      margin-right: 8px;
      border-radius: 100%;
      background-color: #ededed;
      vertical-align: center;
    }
  }
  
}